<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{url_for('static', filename='chainicon.png')}}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocuLink</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <style>
        body {
            font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }
        .subtitle {
            font-size: 0.8em;
            color: #555;
            cursor: pointer;
            text-decoration: underline;
        }
        .section { display: none; }
        .section.active { display: block; }
        .active-link { border-bottom: 3px solid #359EFF; color: #141414; }
        .inactive-link { border-bottom: 3px solid transparent; color: #3E4D5B; }
        .thumbnail { width: 100%; height: 85%; object-fit: cover; }
        .comparison-container { display: flex; flex-direction: column; align-items: center; }
        .comparison-item { display: flex; flex-direction: row; align-items: center; margin-bottom: 20px; }
        .comparison-item img { max-width: 300px; margin: 0 10px; }
        .difference { margin-right: 10px; }

        .container {
            padding: 40px 20px;
            margin: 0 auto;
            max-width: 1200px;
            text-align: center;
        }
        .section-content {
            margin-bottom: 40px;
        }
        .section-content h2 {
            color: #0056b3;
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .section-content p {
            color: #333;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .features {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .feature-box {
            background-color: #f9f9f9;
            border-radius: 8px;
            padding: 20px;
            margin: 10px;
            flex: 1;
            min-width: 200px;
            max-width: 240px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .feature-box h3 {
            color: #007bff;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .cta-section {
            background-color: #0056b3;
            color: white;
            text-align: center;
            padding: 40px 20px;
            border-radius: 8px;
            margin-bottom: 40px;
        }
        .cta-section h2 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .cta-section p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .cta-section .cta-button {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
        }
        .small-link {
            font-size: 0.8em;
            color: #359EFF;
            text-decoration: underline;
            margin-top: 10px;
        }
        .download-link {
            color: #359EFF;
            text-decoration: underline;
            font-weight: bold;
            font-size: 1.1em;
        }
        .demo-link {
            color: #359EFF;
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#FFFFFF] justify-between group/design-root overflow-x-hidden">
        <div>
            <div class="flex items-center bg-[#FFFFFF] p-4 pb-2 justify-between fixed top-0 left-0 w-full z-10">
                <div class="flex items-center">
                    <img src="{{url_for('static', filename='chainicon.png')}}" alt="DocuLink Logo" class="w-11 h-auto mr-2" />
                    <div>
                        <h2 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] flex-1">DocuLink</h2>
                        <p class="subtitle" onclick="copyToClipboard('addr_test1qz8na2e74ewzkn6aekrtutlf93fmsrpst5runwe4frezvf2u5qvmpqpcz8fd848xf9efhjd3xmnmud538w6gplr3hj3qvhy6dd')">Wallet Address: addr_test1qz8na2e74ewzkn6aekrtutlf93fmsrpst5runwe4frezvf2u5qvmpqpcz8fd848xf9efhjd3xmnmud538w6gplr3hj3qvhy6dd</p>
                        <p class="subtitle">Home Page: <a href="https://www.docuauth.info/" target="_blank" class="text-blue-500 underline">https://www.docuauth.info/</a></p>
                    </div>
                </div>
            </div>
            <div class="pt-24 pb-3"> <!-- Adjusted padding-top to account for fixed navbar -->
                <div class="flex border-b border-[#DBE1E6] px-4 justify-between">
                    <a id="homeLink" class="inactive-link flex flex-col items-center justify-center pb-[13px] pt-4 flex-1 cursor-pointer" onclick="showSection('home')">
                        <p class="text-sm font-bold leading-normal tracking-[0.015em]">Home</p>
                    </a>
                    <a id="authenticateLink" class="inactive-link flex flex-col items-center justify-center pb-[13px] pt-4 flex-1 cursor-pointer" onclick="showSection('authenticate')">
                        <p class="text-sm font-bold leading-normal tracking-[0.015em]">Authenticate</p>
                    </a>
                    <a id="searchLink" class="inactive-link flex flex-col items-center justify-center pb-[13px] pt-4 flex-1 cursor-pointer" onclick="showSection('search')">
                        <p class="text-sm font-bold leading-normal tracking-[0.015em]">Search</p>
                    </a>
                    <a id="compareLink" class="inactive-link flex flex-col items-center justify-center pb-[13px] pt-4 flex-1 cursor-pointer" onclick="showSection('compare')">
                        <p class="text-sm font-bold leading-normal tracking-[0.015em]">Comparison</p>
                    </a>
                    <a id="listLink" class="inactive-link flex flex-col items-center justify-center pb-[13px] pt-4 flex-1 cursor-pointer" onclick="showSection('list')">
                        <p class="text-sm font-bold leading-normal tracking-[0.015em]">Add to List</p>
                    </a>
                </div>
            </div>

            <!-- Home Section -->
            <div class="section active" id="home">
                <div class="container text-center">
                    <div class="section-content">
                        <h2 class="text-4xl">Welcome to DocuLink</h2>
                        <p class="text-lg mt-2">Landing Page: <a href="https://www.docuauth.info/" target="_blank" class="small-link">https://www.docuauth.info/</a></p>
                        <p class="text-[#333] text-base font-normal leading-normal mt-4">
                            For our demos <a href="#" onclick="showSection('authenticate')" class="demo-link">Click Here</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Authenticate Section -->
            <div class="section" id="authenticate">
                <div class="container flex justify-between items-start py-4">
                    <!-- Left Side: Explanation Text -->
                    <div class="w-1/3 pr-2">
                        <h1 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em]">Check Content Authenticity</h1>
                        <div class="w-full mt-4 flex justify-center">
                            <div class="test-image">
                                <h2 class="text-center">Test Image</h2>
                                <div class="cta-buttons mt-2">
                                    <a href="https://drive.google.com/uc?export=download&id=1dNbbr-iERQNWwsO3R-L8O8xu6ibdavQl" class="download-link" download>
                                        <span class="text-black">1.</span> Download Image
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="text-[#333] text-base font-normal leading-normal mt-4">For testing, please download the test image provided above.</p>
                        <p class="text-[#333] text-base font-normal leading-normal mt-4"><strong>Proof of Concept:</strong></p>
                        <p class="text-[#333] text-base font-normal leading-normal mt-2">
                            This test image serves as a proof of concept (POC) and a case study to demonstrate the authentication process. It simulates an image that a creator has uploaded, and you, as the consumer, are now trying to authenticate it. Here's how the process works:
                        </p>
                        <ul class="list-none text-[#333] text-base font-normal leading-normal mt-2">
                            <li><strong>Content Creation and Hashing:</strong> The image was first processed through our content creator's hub (currently in production), where it was hashed using our advanced <a href="javascript:void(0);" onclick="showSection('list')" class="text-blue-500 underline">Hash Feature</a>. This hash was then recorded on the blockchain via a transaction, ensuring an immutable record of the image's integrity.</li>
                            <li><strong>2. Download the Test Image:</strong> The provided test image simulates a piece of digital content you want to verify.</li>
                            <li><strong>3. Upload the Test Image:</strong> Upload the downloaded image to the authentication system.</li>
                            <li><strong>4. Verification Process:</strong> The system will generate a hash of the uploaded image and check this hash against the records in our test wallet on the blockchain. It ensures the content matches the original stored hash.</li>
                        </ul>
                        <p class="text-[#333] text-base font-normal leading-normal mt-2">This POC demonstrates how a creator's image is hashed and recorded on the blockchain, and how the consumer can verify its authenticity using our system.</p>
                    </div>
                    
                    <!-- Right Side: Upload Section -->
                    <div class="w-2/3 pl-2">
                        <h1 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] text-center">Check Content Authenticity</h1>
                        <div class="flex justify-center py-4">
                            <div class="flex flex-col items-center gap-3 max-w-[480px] w-full px-4 py-3">
                                <div id="dropArea" class="w-full h-20 border border-gray-200 flex items-center justify-center mb-4" ondrop="handleDrop(event, 'fileInput')" ondragover="handleDragOver(event)">
                                    <p id="thumbnailText" class="text-gray-400">Drag and Drop Test Image or Choose From Downloads</p>
                                </div>
                                <form id="uploadForm" enctype="multipart/form-data" class="w-full flex flex-col items-center">
                                    <input type="file" id="fileInput" name="file" accept="image/png,image/jpeg" class="hidden" onchange="showThumbnail(this)">
                                    <label for="fileInput" class="flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#F0F2F5] text-[#141414] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                        <span class="truncate">Choose File</span>
                                    </label>
                                    <div class="w-full mt-4">
                                        <label for="walletInput" class="block text-sm font-bold mb-2">Wallet Address:</label>
                                        <input type="text" id="walletInput" name="wallet" placeholder="DocuLink Test Wallet" disabled class="w-full p-2 border border-gray-200 rounded">
                                    </div>
                                    <div id="currentWallet" class="w-full mt-4">
                                        <p class="font-bold">Current Wallet: DocuLink Test <span id="currentWalletAddress"></span></p>
                                    </div>
                                    <button type="button" onclick="uploadFile()" class="mt-4 flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 flex-1 bg-[#359EFF] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] w-full text-center" id="uploadButton">
                                        <span class="truncate">Upload</span>
                                    </button>
                                </form>
                                <div id="progressBar" class="w-full h-5 bg-[#F3F4F6] mt-4 rounded-full overflow-hidden hidden">
                                    <div id="progress" class="h-full bg-[#359EFF] w-0"></div>
                                </div>
                                <div id="infoBox" class="w-full mt-4 p-4 border border-gray-200 rounded ">
                                    <p class="font-bold">Wallet: <span id="wallet" class="overflow-hidden"></span></p>
                                    <p class="font-bold">Hash: <span id="hash"></span></p>
                                    <p id="endMessage" class="mt-2"></p>
                                </div>
                                <div id="newWalletSection" class="w-full mt-4 hidden">
                                    <input type="text" id="newWalletInput" placeholder="Enter new wallet address" class="w-full p-2 border border-gray-200 rounded mb-2">
                                    <button type="button" onclick="reRunWithNewWallet()" class="flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 flex-1 bg-[#359EFF] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                        <span class="truncate">Run this image with other wallet</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search Section -->
            <div class="section" id="search">
                <h1 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] text-center">Search VIA Content Metadata</h1>
                <p class="text-center">This feature will search the entire blockchain for a unique hash, but due to API restrictions this is currently not accessible.</p>
                <div class="flex justify-center py-4">
                    <div class="flex flex-col items-center gap-3 max-w-[480px] w-full px-4 py-3">
                        <form id="searchForm" enctype="multipart/form-data" class="w-full flex flex-col items-center">
                            <div id="dropAreaSearch" class="w-full h-20 border border-gray-200 flex items-center justify-center mb-4" ondrop="handleDrop(event, 'searchFileInput')" ondragover="handleDragOver(event)">
                                <p id="searchThumbnailText" class="text-gray-400">Drag and Drop Video or Choose From Downloads</p>
                            </div>
                            <input type="file" id="searchFileInput" name="file" accept="video/mp4,video/quicktime,image/png,image/jpeg" class="hidden" onchange="showSearchThumbnail(this)">
                            <label for="searchFileInput" class="flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#F0F2F5] text-[#141414] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                <span class="truncate">Choose Video</span>
                            </label>
                            <button type="button" onclick="searchFile()" class="mt-4 flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 flex-1 bg-[#359EFF] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                <span class="truncate">Run Search</span>
                            </button>
                        </form>
                        <div id="searchProgressBar" class="w-full h-5 bg-[#F3F4F6] mt-4 rounded-full overflow-hidden hidden">
                            <div id="searchProgress" class="h-full bg-[#359EFF] w-0"></div>
                        </div>
                        <div id="searchInfoBox" class="w-full mt-4 p-4 border border-gray-200 rounded">
                            <p class="font-bold">Wallet: <span id="searchWallet"></span></p>
                            <p class="font-bold">Hash: <span id="searchHash"></span></p>
                            <p id="searchEndMessage" class="mt-2"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comparison Section -->
            <div class="section" id="compare">
                <h1 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] text-center">Comparison</h1>
                <p class="text-center">For the proof of concept, please download and use Test 1 and Test 2 images for comparison.</p>
                <div class="flex justify-center py-4">
                    <div class="flex flex-col items-center gap-3 max-w-[480px] w-full px-4 py-3">
                        <div class="flex flex-col items-center">
                            <a href="https://drive.google.com/uc?export=download&id=1QRyeaKdTJZkM5iMxoPKPvZyvpshUrwyk" class="small-link" download>Download Test 1 Image</a>
                            <a href="https://drive.google.com/uc?export=download&id=1dNbbr-iERQNWwsO3R-L8O8xu6ibdavQl" class="small-link" download>Download Test 2 Image</a>
                        </div>
                        <form id="compareForm" enctype="multipart/form-data" class="w-full flex flex-col items-center">
                            <div class="flex justify-between w-full mb-4">
                                <div class="flex flex-col items-center w-1/2 pr-2">
                                    <div id="dropArea1" class="w-full h-20 border border-gray-200 flex items-center justify-center mb-4" ondrop="handleDrop(event, 'video1Input')" ondragover="handleDragOver(event)">
                                        <p id="thumbnailText1" class="text-gray-400">Drag and Drop Test Image 1 or Choose File</p>
                                    </div>
                                    <input type="file" id="video1Input" name="video1" accept="image/png,image/jpeg" class="hidden" onchange="showVideoFileName(this, 'thumbnail1')" required>
                                    <label for="video1Input" class="flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#F0F2F5] text-[#141414] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                        <span class="truncate">Upload File</span>
                                    </label>
                                    <div id="thumbnail1" class="w-full h-20 border border-gray-200 flex items-center justify-center mt-2">
                                        <p class="text-gray-400">No file uploaded</p>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center w-1/2 pl-2">
                                    <div id="dropArea2" class="w-full h-20 border border-gray-200 flex items-center justify-center mb-4" ondrop="handleDrop(event, 'video2Input')" ondragover="handleDragOver(event)">
                                        <p id="thumbnailText2" class="text-gray-400">Drag and Drop Test Image 2 or Choose File</p>
                                    </div>
                                    <input type="file" id="video2Input" name="video2" accept="image/png,image/jpeg" class="hidden" onchange="showVideoFileName(this, 'thumbnail2')" required>
                                    <label for="video2Input" class="flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#F0F2F5] text-[#141414] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                        <span class="truncate">Upload File</span>
                                    </label>
                                    <div id="thumbnail2" class="w-full h-20 border border-gray-200 flex items-center justify-center mt-2">
                                        <p class="text-gray-400">No file uploaded</p>
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="compareVideos()" class="mt-4 flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 flex-1 bg-[#359EFF] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                <span class="truncate">Compare</span>
                            </button>
                        </form>
                        <div id="compareProgressBar" class="w-full h-5 bg-[#F3F4F6] mt-4 rounded-full overflow-hidden hidden">
                            <div id="compareProgress" class="h-full bg-[#359EFF] w-0"></div>
                        </div>
                        <div id="comparisonResults" class="info-box w-full mt-4 p-4 border border-gray-200 rounded hidden"></div>
                        <div class="explanation mt-4 w-full">
                            <h3 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] text-center">Explanation of Red Boxes:</h3>
                            <p class="text-[#141414] text-base font-normal leading-normal text-center">The red boxes highlight areas of difference between the two files. These differences are areas where the content has changed between the two versions. The percentage shown indicates the proportion of the frame that is different.</p>
                        </div>
                        <div id="comparisonVisual" class="comparison-container w-full mt-4 flex justify-center hidden"></div>
                    </div>
                </div>
            </div>

            <!-- Add to List Section -->
            <div class="section" id="list">
                <h1 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] text-center">Hash Your Image!</h1>
                <p class="text-center">This feature allows you to add video content to our authenticity list.</p>
                <div class="flex justify-center py-4">
                    <div class="flex flex-col items-center gap-3 max-w-[480px] w-full px-4 py-3">
                        <form id="listForm" enctype="multipart/form-data" class="w-full flex flex-col items-center">
                            <div id="dropAreaList" class="w-full h-20 border border-gray-200 flex items-center justify-center mb-4" ondrop="handleDrop(event, 'listFileInput')" ondragover="handleDragOver(event)">
                                <p id="listThumbnailText" class="text-gray-400">Drag and Drop Video or Choose From Downloads</p>
                            </div>
                            <input type="file" id="listFileInput" name="file" accept="video/mp4,video/quicktime,image/png,image/jpeg" class="hidden" onchange="showListThumbnail(this)">
                            <label for="listFileInput" class="flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#F0F2F5] text-[#141414] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                <span class="truncate">Choose File</span>
                            </label>
                            <button type="button" onclick="addToList()" class="mt-4 flex cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 flex-1 bg-[#359EFF] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] w-full text-center">
                                <span class="truncate">Add to List</span>
                            </button>
                        </form>
                        <div id="listProgressBar" class="w-full h-5 bg-[#F3F4F6] mt-4 rounded-full overflow-hidden hidden">
                            <div id="listProgress" class="h-full bg-[#359EFF] w-0"></div>
                        </div>
                        <div id="listMessage" class="info-box w-full mt-4 p-4 border border-gray-200 rounded hidden"></div>
                        <div class="mt-4 w-full">
                            <h3 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] text-center">Hash List:</h3>
                            <ul id="hashListContent" class="list-disc list-inside text-[#333] text-base font-normal leading-normal"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function showSection(sectionId) {
                document.querySelectorAll('.section').forEach(section => {
                    section.classList.remove('active');
                });
                document.getElementById(sectionId).classList.add('active');
                document.querySelectorAll('.navbar a').forEach(link => {
                    link.classList.remove('active-link');
                    link.classList.add('inactive-link');
                });
                document.getElementById(sectionId + 'Link').classList.add('active-link');
                document.getElementById(sectionId + 'Link').classList.remove('inactive-link');
            }

            function startProgress(progressBarId, progressId) {
                const eventSource = new EventSource('/progress');
                const progress = document.getElementById(progressId);

                eventSource.onmessage = function(event) {
                    const data = event.data.split('|');
                    const processedFrames = parseInt(data[0]);
                    const totalFrames = parseInt(data[1]);
                    const progressPercent = Math.round((processedFrames / totalFrames) * 100);
                    progress.style.width = progressPercent + '%';

                    if (processedFrames >= totalFrames) {
                        eventSource.close();
                    }
                };
            }

            function handleDrop(event, inputId) {
                event.preventDefault();
                const file = event.dataTransfer.files[0];
                if (file) {
                    document.getElementById(inputId).files = event.dataTransfer.files;
                    showThumbnail(document.getElementById(inputId));
                }
            }

            function handleDragOver(event) {
                event.preventDefault();
            }

            function showThumbnail(input) {
                const file = input.files[0];
                const reader = new FileReader();

                reader.onload = function(e) {
                    const thumbnail = document.getElementById('dropArea');
                    const thumbnailText = document.getElementById('thumbnailText');
                    if (file.type.startsWith('image/')) {
                        thumbnail.innerHTML = `<img src="${e.target.result}" alt="Thumbnail" class="thumbnail">`;
                    } else {
                        thumbnail.innerHTML = `<p>${file.name}</p>`;
                    }
                };

                reader.readAsDataURL(file);
            }

            function showSearchThumbnail(input) {
                const file = input.files[0];
                const reader = new FileReader();

                reader.onload = function(e) {
                    const thumbnail = document.getElementById('dropAreaSearch');
                    const thumbnailText = document.getElementById('searchThumbnailText');
                    if (file.type.startsWith('image/')) {
                        thumbnail.innerHTML = `<img src="${e.target.result}" alt="Thumbnail" class="thumbnail">`;
                    } else {
                        thumbnail.innerHTML = `<p>${file.name}</p>`;
                    }
                };

                reader.readAsDataURL(file);
            }

            function showVideoFileName(input, thumbnailId) {
                const file = input.files[0];
                const thumbnail = document.getElementById(thumbnailId);
                thumbnail.innerHTML = `<p>${file.name}</p>`;
            }

            function showListThumbnail(input) {
                const file = input.files[0];
                const reader = new FileReader();

                reader.onload = function(e) {
                    const thumbnail = document.getElementById('dropAreaList');
                    const thumbnailText = document.getElementById('listThumbnailText');
                    if (file.type.startsWith('image/')) {
                        thumbnail.innerHTML = `<img src="${e.target.result}" alt="Thumbnail" class="thumbnail">`;
                    } else {
                        thumbnail.innerHTML = `<p>${file.name}</p>`;
                    }
                };

                reader.readAsDataURL(file);
            }

            async function uploadFile() {
                const form = document.getElementById('uploadForm');
                const formData = new FormData(form);
                const progressBar = document.getElementById('progressBar');
                const progress = document.getElementById('progress');
                const infoBox = document.getElementById('infoBox');
                const walletSpan = document.getElementById('wallet');
                const hashSpan = document.getElementById('hash');
                const endMessage = document.getElementById('endMessage');
                const newWalletSection = document.getElementById('newWalletSection');
                const uploadButton = document.getElementById('uploadButton');

                const walletInput = document.getElementById('walletInput');
                const currentWalletAddress = document.getElementById('currentWalletAddress');
                currentWalletAddress.textContent = '';

                progressBar.classList.remove('hidden');
                progress.style.width = '0';
                infoBox.classList.add('hidden');
                walletSpan.textContent = '';
                hashSpan.textContent = '';
                endMessage.textContent = '';
                newWalletSection.classList.add('hidden');

                try {
                    uploadButton.disabled = true;
                    startProgress('progressBar', 'progress');
                    const response = await fetch('/upload_file', {
                        method: 'POST',
                        body: formData,
                    });

                    const result = await response.json();
                    walletSpan.textContent = result.wallet;
                    hashSpan.textContent = result.hash;
                    newWalletSection.classList.remove('hidden');
                    infoBox.classList.remove('hidden');

                    if (result.message.includes("Transaction found")) {
                        endMessage.textContent = result.message;
                        endMessage.classList.add('text-green-500');
                        endMessage.classList.remove('text-red-500');
                    } else {
                        endMessage.textContent = result.message;
                        endMessage.classList.add('text-red-500');
                        endMessage.classList.remove('text-green-500');
                    }

                } catch (error) {
                    progressBar.classList.add('hidden');
                    endMessage.textContent = 'Error processing file';
                    endMessage.classList.add('text-red-500');
                    endMessage.classList.remove('text-green-500');
                    infoBox.classList.remove('hidden');
                } finally {
                    uploadButton.disabled = false;
                }
            }

            async function reRunWithNewWallet() {
                const newWalletAddress = document.getElementById('newWalletInput').value;
                if (!newWalletAddress) {
                    alert('Please enter a new wallet address.');
                    return;
                }

                const form = document.getElementById('uploadForm');
                const formData = new FormData(form);
                formData.append('newWallet', newWalletAddress);

                const progressBar = document.getElementById('progressBar');
                const progress = document.getElementById('progress');
                const infoBox = document.getElementById('infoBox');
                const walletSpan = document.getElementById('wallet');
                const hashSpan = document.getElementById('hash');
                const endMessage = document.getElementById('endMessage');

                progressBar.classList.remove('hidden');
                progress.style.width = '0';
                infoBox.classList.add('hidden');
                walletSpan.textContent = '';
                hashSpan.textContent = '';
                endMessage.textContent = '';

                try {
                    startProgress('progressBar', 'progress');
                    const response = await fetch('/upload_file', {
                        method: 'POST',
                        body: formData,
                    });

                    const result = await response.json();
                    walletSpan.textContent = result.wallet;
                    hashSpan.textContent = result.hash;
                    infoBox.classList.remove('hidden');

                    if (result.message.includes("Transaction found")) {
                        endMessage.textContent = result.message;
                        endMessage.classList.add('text-green-500');
                        endMessage.classList.remove('text-red-500');
                    } else {
                        endMessage.textContent = result.message;
                        endMessage.classList.add('text-red-500');
                        endMessage.classList.remove('text-green-500');
                    }

                } catch (error) {
                    progressBar.classList.add('hidden');
                    endMessage.textContent = 'Error processing file';
                    endMessage.classList.add('text-red-500');
                    endMessage.classList.remove('text-green-500');
                    infoBox.classList.remove('hidden');
                }
            }

            async function searchFile() {
                const form = document.getElementById('searchForm');
                const formData = new FormData(form);
                const progressBar = document.getElementById('searchProgressBar');
                const progress = document.getElementById('searchProgress');
                const infoBox = document.getElementById('searchInfoBox');
                const walletSpan = document.getElementById('searchWallet');
                const hashSpan = document.getElementById('searchHash');
                const endMessage = document.getElementById('searchEndMessage');

                progressBar.classList.remove('hidden');
                progress.style.width = '0';
                infoBox.classList.add('hidden');
                walletSpan.textContent = '';
                hashSpan.textContent = '';
                endMessage.textContent = '';

                try {
                    startProgress('searchProgressBar', 'searchProgress');
                    const response = await fetch('/search_file', {
                        method: 'POST',
                        body: formData,
                    });

                    const result = await response.json();
                    walletSpan.textContent = result.wallet;
                    hashSpan.textContent = result.hash;
                    infoBox.classList.remove('hidden');

                    if (result.message.includes("Transaction found")) {
                        endMessage.textContent = result.message;
                        endMessage.classList.add('text-green-500');
                        endMessage.classList.remove('text-red-500');
                    } else {
                        endMessage.textContent = result.message;
                        endMessage.classList.add('text-red-500');
                        endMessage.classList.remove('text-green-500');
                    }

                } catch (error) {
                    progressBar.classList.add('hidden');
                    endMessage.textContent = 'Error processing file';
                    endMessage.classList.add('text-red-500');
                    endMessage.classList.remove('text-green-500');
                    infoBox.classList.remove('hidden');
                }
            }

            async function compareVideos() {
                const form = document.getElementById('compareForm');
                const formData = new FormData(form);
                const progressBar = document.getElementById('compareProgressBar');
                const progress = document.getElementById('compareProgress');
                const resultsBox = document.getElementById('comparisonResults');
                const visualBox = document.getElementById('comparisonVisual');

                progressBar.classList.remove('hidden');
                progress.style.width = '0';
                resultsBox.classList.add('hidden');
                visualBox.classList.add('hidden');
                resultsBox.textContent = '';
                visualBox.textContent = '';

                try {
                    startProgress('compareProgressBar', 'compareProgress');
                    const response = await fetch('/compare_videos', {
                        method: 'POST',
                        body: formData,
                    });

                    const result = await response.json();
                    resultsBox.textContent = result.message;
                    resultsBox.classList.remove('hidden');

                    if (result.comparison_images && result.comparison_images.length > 0) {
                        result.comparison_images.forEach((imagePair, index) => {
                            const comparisonItem = document.createElement('div');
                            comparisonItem.className = 'comparison-item';

                            const difference = document.createElement('div');
                            difference.className = 'difference';
                            difference.innerText = `Difference: ${result.differences[index].toFixed(2)}%`;

                            const frame1 = document.createElement('img');
                            frame1.src = imagePair[0];

                            const frame2 = document.createElement('img');
                            frame2.src = imagePair[1];

                            comparisonItem.appendChild(difference);
                            comparisonItem.appendChild(frame1);
                            comparisonItem.appendChild(frame2);

                            visualBox.appendChild(comparisonItem);
                        });
                        visualBox.classList.remove('hidden');
                    }

                } catch (error) {
                    progressBar.classList.add('hidden');
                    resultsBox.textContent = 'Error processing files';
                    resultsBox.classList.remove('hidden');
                }
            }

            async function addToList() {
                const form = document.getElementById('listForm');
                const formData = new FormData(form);
                const progressBar = document.getElementById('listProgressBar');
                const progress = document.getElementById('listProgress');
                const messageBox = document.getElementById('listMessage');
                const hashList = document.getElementById('hashListContent');

                progressBar.classList.remove('hidden');
                messageBox.classList.add('hidden');
                progress.style.width = '0';

                try {
                    startProgress('listProgressBar', 'listProgress');
                    const response = await fetch('/add_to_list', {
                        method: 'POST',
                        body: formData,
                    });

                    const result = await response.json();
                    if (result.success) {
                        const newHash = document.createElement('li');
                        newHash.textContent = `File: ${result.file} | Hash: ${result.hash}`;
                        hashList.appendChild(newHash);
                        messageBox.textContent = 'Hash added to list successfully.';
                        messageBox.classList.remove('hidden');
                    } else {
                        messageBox.textContent = 'Error adding hash to list.';
                        messageBox.classList.remove('hidden');
                    }
                } catch (error) {
                    progressBar.classList.add('hidden');
                    messageBox.textContent = 'Error processing file';
                    messageBox.classList.remove('hidden');
                }
            }

            document.addEventListener('DOMContentLoaded', () => {
                showSection('home');
            });

            function copyToClipboard(text) {
                navigator.clipboard.writeText(text).then(function() {
                    alert('Wallet address copied to clipboard!');
                }, function(err) {
                    console.error('Could not copy text: ', err);
                });
            }
        </script>
    </div>
</body>
</html>
